
{% extends 'base.html' %}



{% block content%}
<h3>Apple News</h3>
<div class="container apple">
<div class="roe"></div>
<div class="card" style="width: 18rem;">
    {% for apple_news in apple %}
    <img src="{{apple_news.urlToImage}}" class="card-img-top img-fluid" alt="Tesla" height="200" width="200">
    <div class="card-body">
      <h5 class="card-title">{{ apple_news.publishedAt}}</h5>
      <p class="card-text">{{ apple_news.description}}<p>
      <a href="{{apple_news.url}}" class="btn btn-primary">Read full article</a>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}