{% extends 'base.html' %}
{% block content%}
<h3>Bitcoin News</h3>
<div class="containe bitcoin">

<div class="card" style="width: 18rem;">
    {% for bitcoin_news in bitcoin %}
    <img src="{{bitcoin_news.urlToImage}}" class="card-img-top img-fluid" alt="Tesla" height="200" width="200">
    <div class="card-body">
      <h5 class="card-title">{{ bitcoin_news.publishedAt}}</h5>
      <p class="card-text">{{ bitcoin_news.description}}<p>
      <a href="{{bitcoin_news.url}}" class="btn btn-primary">Read full article</a>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}