{% extends 'base.html' %}


{% block content%}
<h3>Tesla News</h3>
<div class="container tesla">

<div class="card" style="width: 18rem;">
    {% for tesla_news in tesla %}
    <img src="{{tesla_news.urlToImage}}" class="card-img-top img-fluid" alt="Tesla" height="200" width="200">
    <div class="card-body">
      <h5 class="card-title">{{ tesla_news.publishedAt}}</h5>
      <p class="card-text">{{ tesla_news.description}}<p>
      <a href="{{tesla_news.url}}" class="btn btn-primary">Read full article</a>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}